.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 620px;
  overflow: hidden;
  padding-top: 130px;
  &__content {
    display: grid;
    grid-template-rows: auto;
    max-width: 445px;
    min-height: 361px;
    gap: 30px;
    margin-bottom: 120px;
  }
  &__title {
    font-size: 60px;
  }
  &__excerpt {
    font-size: 18px;
    padding-right: 30px;
  }

  &__image {
    max-width: 540px;
    width: 100%;
    height: auto;
    margin-top: auto;
    img {
      object-fit: fill;
      object-position: center;
    }
  }
}
