.hero {
  position: relative;
  height: 620px;
  overflow: hidden;
  padding-top: 130px;
  &__content {
    display: grid;
    grid-template-rows: auto;
    max-width: 445px;
    height: 361px;
    gap: 30px;
  }
  &__title {
    font-size: 60px;
  }
  &__excerpt {
    font-size: 18px;
    padding-right: 30px;
  }

  &__image {
    position: absolute;
    top: 60px;
    right: 0;
    max-width: 540px;
    width: 100%;
    height: auto;
    img {
      object-fit: fill;
      object-position: center;
    }
  }
}
