.category-card {
  padding: 90px;
  min-height: 645px;
  // .product__list

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 60px;
    height: auto;
  }
}
