.sketch {
  position: relative;
  height: 500px;
  overflow: hidden;
  padding-top: 130px;
  &__content {
    display: grid;
    grid-template-rows: auto;
    max-width: 350px;
    max-height: 272px;
    gap: 8px;
  }
  &__title {
    font-size: 40px;
  }
  &__excerpt {
    font-size: 18px;
    padding-right: 30px;
    margin-bottom: 30px;
  }

  &__image {
    position: absolute;
    top: 90px;
    right: 0;
    max-width: 730px;
    width: 100%;
    height: auto;
    img {
      object-fit: fill;
      object-position: center;
    }
  }
}
