@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(76, 88, 102);
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
  font: inherit;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gray {
  background: rgb(235, 235, 235);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(76, 88, 102);
  font-weight: 400;
  line-height: 100%;
}

p,
span {
  line-height: 150%;
  color: rgb(133, 133, 155);
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  height: auto;
}

.simple-button {
  border: solid 1px rgb(120, 117, 254);
  min-height: 70px;
  max-width: 255px;
  width: 100%;
  color: rgb(120, 117, 254);
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  padding: 0.8rem;
}
.simple-button:focus {
  background: rgb(218, 217, 251);
  border: 1px solid rgb(120, 117, 254);
}
.simple-button:hover {
  background: rgb(120, 117, 254);
  color: rgb(255, 255, 255);
  border: none;
}
.simple-button:active {
  background: rgb(73, 70, 180);
  border: none;
}

.simple-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(120, 117, 254);
  font-size: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.simple-link::after {
  content: "";
  display: inline-block;
  -webkit-mask: url("/assets/images/arrow_right.svg") no-repeat center;
          mask: url("/assets/images/arrow_right.svg") no-repeat center;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 3.5px;
  background-color: rgb(120, 117, 254);
}
.simple-link:focus {
  color: rgb(120, 117, 254);
  background: rgb(218, 217, 251);
}
.simple-link:focus::after {
  background-color: rgb(120, 117, 254);
}
.simple-link:hover {
  color: rgb(73, 70, 180);
}
.simple-link:hover::after {
  background-color: rgb(73, 70, 180);
}
.simple-link:active {
  color: rgb(73, 70, 180);
}
.simple-link:active::after {
  background-color: rgb(73, 70, 180);
}

.info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 350px;
  max-width: 450px;
  min-height: 272px;
  gap: 8px;
}
.info-card__title {
  font-size: 40px;
}
.info-card__excerpt {
  font-size: 18px;
  margin-bottom: 30px;
}
.product {
  display: grid;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.product__image {
  margin-bottom: 20px;
}
.product__title {
  font-size: 30px;
  min-height: 35px;
}
.product__count {
  margin: 5px 0;
  color: rgb(181, 181, 189);
  font-size: 14px;
}
.product__excerpt {
  line-height: 170%;
  max-height: 155px;
  height: 100%;
  padding-right: 30px;
  padding-top: 2px;
}
.product__link {
  margin-top: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 29px 0;
  min-height: 80px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  width: 100%;
}
.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__button {
  width: 40px;
}

.nav {
  font-size: 20px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  gap: 60px;
}
.nav__item a {
  padding: 0 5px;
}
.nav__item a:focus {
  color: rgb(76, 88, 102);
  background: rgb(218, 217, 251);
}
.nav__item a:hover {
  color: rgb(120, 117, 254);
}
.nav__item a:active {
  color: rgb(73, 70, 180);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 620px;
  overflow: hidden;
  padding-top: 130px;
}
.hero__content {
  display: grid;
  grid-template-rows: auto;
  max-width: 445px;
  min-height: 361px;
  gap: 30px;
  margin-bottom: 120px;
}
.hero__title {
  font-size: 60px;
}
.hero__excerpt {
  font-size: 18px;
  padding-right: 30px;
}
.hero__image {
  max-width: 540px;
  width: 100%;
  height: auto;
  margin-top: auto;
}
.hero__image img {
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

.paper {
  padding: 90px 0;
}
.paper__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 90px;
}
.paper__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.paper__item {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border-top: 1px solid rgb(192, 192, 192);
  padding-top: 20px;
  min-height: 118px;
  width: 100%;
}
.paper__content h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.paper__bottom {
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 350px;
  gap: 30px;
}
.paper__right h2 {
  color: rgb(102, 102, 102);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.paper__right p {
  padding-right: 30px;
  margin-bottom: 10px;
}

.category-card {
  padding: 90px;
  min-height: 645px;
}
.category-card__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
  height: auto;
}

.brands {
  padding: 90px 0;
}
.brands__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 1px solid rgb(196, 196, 196);
  min-height: 135px;
  height: 100%;
}
.brands__image {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
  width: 80%;
  height: auto;
}

.sketch {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 500px;
  overflow: hidden;
  padding-top: 130px;
}
.sketch .info-card {
  margin-top: 24px;
}
.sketch__image {
  max-width: 730px;
  width: 100%;
  height: auto;
  margin-top: auto;
}

.footer__top {
  height: 80px;
  background: rgb(76, 88, 102);
  padding: 29px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer__bottom {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  text-transform: uppercase;
  color: rgb(76, 88, 102);
  font-size: 13px;
}
.footer__bottom span {
  color: rgba(133, 126, 126, 0.516);
}